#!/usr/bin/env sh
systemctl stop VRising

su {{ vrising_server_username }}
/usr/games/steamcmd +force_install_dir "{{ vrising_server_dir }}" +login anonymous +app_update {{ vrising_server_appid }} +quit

systemctl start VRising