#!/usr/bin/env sh

set -x

systemctl stop VRising
runuser -l {{ vrising_server_username }} -c '/usr/games/steamcmd +force_install_dir "{{ vrising_server_dir }}" +login anonymous +app_update {{ vrising_server_appid }} +quit'
systemctl start VRising