{
  "Name": "{{ vrising_server_name }}",
  "Description": "{{ vrising_server_description }}",
  "Port": {{ vrising_server_port }},
  "QueryPort": {{ vrising_server_queryPort }},
  "MaxConnectedUsers": 10,
  "MaxConnectedAdmins": 4,
  "ServerFps": 30,
  "SaveName": "{{ vrising_server_saveName }}",
  "Password": "{{ vrising_server_password }}",
  "Secure": true,
  "ListOnMasterServer": true,
  "AutoSaveCount": 288,
  "AutoSaveInterval": 300,
  "GameSettingsPreset": "",
  "AdminOnlyDebugEvents": true,
  "DisableDebugEvents": false,
  "Rcon": {
    "Enabled": false,
    "Port": 25575,
    "Password": ""
  }
}
