{
  "Name": "Smite Club",
  "Description": "Sail, champions!",
  "Port": 9876,
  "QueryPort": 9877,
  "MaxConnectedUsers": 10,
  "MaxConnectedAdmins": 4,
  "ServerFps": 30,
  "SaveName": "20220603",
  "Password": "{{ vrising_server_password }}",
  "Secure": true,
  "ListOnMasterServer": true,
  "AutoSaveCount": 720,
  "AutoSaveInterval": 120,
  "GameSettingsPreset": "",
  "AdminOnlyDebugEvents": true,
  "DisableDebugEvents": false,
  "Rcon": {
    "Enabled": false,
    "Port": 25575,
    "Password": ""
  }
}
