<?php
$AUTOCONFIG = array (
  'adminlogin' => "{{ nextcloud_admin_username }}",
  'adminpass' => "{{ nextcloud_admin_password }}",
  'dbhost' => 'localhost',
  'dbname' => '{{ nextcloud_db_name }}',
  'dbpass' => '{{ nextcloud_db_password }}',
  'dbport' => '5432',
  'dbtableprefix' => 'oc',
  'dbtype' => 'mysql',
  'dbuser' => '{{ nextcloud_db_user }}',
  'directory' => '{{ nextcloud_files_path }}',
);
