<VirtualHost *:80>
  DocumentRoot {{ nextcloud_document_root }}
  Protocols h2 http/1.1
  
  <Directory {{ nextcloud_document_root }}>
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews

    <IfModule mod_dav.c>
      Dav off
    </IfModule>
  </Directory>
</VirtualHost>